.error_page .opps-margin {
    margin-top: 12rem;
  }
  .error_page .error-sec .opps-heading {
    font-size: 8rem !important;
  }
  .error_page .error-sec .error-text {
    font-size: 3.2rem !important;
    color: #c2c2c2;
    font-weight: 500;
  }
  .error_page .error-sec .backtohome-btn {
    font-size: 2rem;
    padding: 1.4rem 2.4rem;
    display: inline-block;
    margin-top: 2.4rem;
    text-transform: capitalize;
  }

  /*
=======================================================================
                        media Query
=======================================================================
*/


  @media screen and (max-width: 767px){
      .error_page .error-sec .opps-heading {
          font-size: 6rem !important;
      }
      .error_page .error-sec .error-text {
       font-size: 20px !important;

    }
  }

  @media only screen and (max-width: 991px){
      .error_page .opps-margin {
          margin-top: 7rem;
        }
  }







