/*
=======================================================================
                        media Query
=======================================================================
*/

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1600px) and (max-width: 1799px) {}

@media screen and (min-width: 1400px) and (max-width: 1599px) {}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

  /* ----------------- 04. index ----------------- */
  .company-logo-slider {
    margin-top: 6rem;
  }

  .Collection-sec .key-benefits-slider .key-box {
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  /* ----------------- 04. index ----------------- */
  .metaverse-text {
    font-size: 4.8rem !important;
  }

  .company-logo-slider {
    margin-top: 4rem;
  }

  .Questions-accordion .accordion-item,
  .Questions-accordion .accordion-item .accordion-button {
    font-size: 2.4rem;
  }

  .Collection-sec .key-benefits-slider .key-box {
    padding: 3rem 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (max-width: 991px) {

  /* ----------------- 04. index ----------------- */
  .Herosec .metaverse-text {
    font-size: 5rem !important;
  }

  .Explore-text {
    margin-top: 1rem;
  }

  .GetStarted {
    padding: 1rem 2rem;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .body__inner-wrapper-two {
    transform: rotate(-5deg);
    width: 99.50%;
  }

  .sec-margin {
    margin-top: 8rem;
  }

  .cards-item-row {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .cards-item .welcome-card {
    padding: 2rem;
  }

  .cards-item-row::-webkit-scrollbar {
    display: none;
  }

  .about-desc {
    width: 100%;
  }

  .the-metaverse-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .about-us-item {
    width: 100%;
  }

  .node-box .box-items {
    width: calc(33.33% - 1.2rem);
    padding: 0.6rem;
  }

  .node-box .box-items h4 {
    font-size: 24px !important;
  }

  .collection-slider .slick-arrow.slick-next {
    right: 40%;
  }

  .collection-slider .slick-arrow.slick-prev {
    left: 40%;
  }

  .collection-slider .slick-arrow svg {
    width: 30px;
  }

  .collection-slider .slick-track {
    width: 36rem !important;
  }

  .collection-slider .test {
    height: 56rem;
  }

  .collection-slider .slick-snext {
    transform: translate3d(50%, 0, -10px);
  }

  .collection-slider .slick-sprev {
    transform: translate3d(-50%, 0, -10px);
  }

  .collection-slider .slick-sprev2 {
    transform: translate3d(-100%, 0, -20px);
  }

  .collection-slider .slick-snext2 {
    transform: translate3d(100%, 0, -20px);
  }

  .workUl {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .workUl .work-items {
    min-width: 300px;
    margin-right: 20px;
  }

  .Tokenomics-content .col-left {
    border-right: 0;
  }

  .Tokenomics-content .InterestingFeatures,
  .Tokenomics-content .KeyFeatures {
    width: 100%;
  }

  .Community-sec {
    padding: 4rem;
  }

  .Community-sec h3 {
    width: 100%;
  }

  .Community-sec {
    display: block;
  }

  .Discord-Btn {
    margin-top: 2.4rem;
  }

  .Sale-sec .sale-product-item {
    width: 40rem;
  }

  .view-dashboard {
    margin-top: 20px;
  }

}

@media screen and (min-width: 576px) and (max-width: 767px) {

  /* ----------------- 04. index ----------------- */
  .Tokenomics-content .FeaturesUL li p {
    font-size: 18px;
  }

  .Tokenomics-content h3 {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .Herosec .metaverse-text {
    font-size: 32px !important;
  }

  .Herosec .metaverse-text .arrow-image {
    width: 80px;
  }

  .Explore-text {
    font-size: 2rem;
  }



  .nodes-sec p {
    font-size: 16px;
  }

  .nodes-sec span {
    font-size: 24px;
  }

  .cards-item {
    margin-top: 4.6rem;
  }

  .cards-item .welcome-card {
    padding: 1.4rem;
  }

  .about-us-item .score-iems span {
    font-size: 38px;
    font-weight: 600;
  }

  .about-us-item {
    margin: 4rem auto 0 auto;
  }

  .about-us-item .score-iems {
    padding: 0 10px;
  }

  .about-us-item .score-iems p {
    font-size: 16px;
  }

  .node-box {
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  .node-box .box-items {
    width: 100%;
    margin-bottom: 30px;
    padding: 16px;
  }

  .node-box .box-items p {
    font-size: 16px;
  }

  .Collection-sec {
    padding: 2rem 0;
  }

  .collection-slider .slick-track {
    width: 30rem !important;
  }

  .collection-slider .test {
    height: 40rem;
  }

  .collection-slider .slick-center .test p {
    font-size: 2.2rem;
  }

  .collection-slider .slick-arrow svg {
    width: 25px;
  }

  .collection-slider .slick-arrow.slick-next {
    right: 40%;
  }

  .collection-slider .slick-arrow.slick-prev {
    left: 40%;
  }

  .collection-slider .slick-snext {
    transform: translate3d(40%, 0, -15px);
  }

  .collection-slider .slick-sprev {
    transform: translate3d(-40%, 0, -15px);
  }

  .collection-slider .slick-snext2 {
    transform: translate3d(90%, 0, -40px);
  }

  .collection-slider .slick-sprev2 {
    transform: translate3d(-90%, 0, -40px);
  }

  .collection-slider .slick-slider {
    padding-bottom: 6rem;
  }

  .workUl .work-items {
    min-width: 250px;
  }

  .Sale-sec .sale-product-item {
    margin: 5.2rem auto 0 auto;
  }

  .Sale-sec .sale-product-item .pro-description .buy-now {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  #timer li {
    margin: 0 1.5rem;
  }

  #timer li h3 {
    width: 8rem;
    height: 8rem;
    font-size: 3rem !important;
  }

  .Sale-sec .Node-sale-sec {
    flex-wrap: wrap;
  }

  .Sale-sec .sale-product-item {
    width: 100%;
  }


}

@media screen and (max-width: 575px) {

  /* ----------------- 04. index ----------------- */
  .Tokenomics-content .FeaturesUL li p {
    font-size: 12px;
  }

  .Tokenomics-content h3 {
    font-size: 24px !important;
    margin-bottom: 2rem;
  }

  .hero-ellipse-1,
  .hero-ellipse-2,
  .about-ellipse,
  .sale-ellipse,
  .Collection-ellipse-1 {
    height: 35rem;
    width: 35rem;
  }

  .Collection-ellipse-2 {
    right: 0;
    left: initial;
  }

  #timer li h3 {
    width: 7rem;
    height: 7rem;
    font-size: 3rem !important;
  }


}