.blog_page .Nodewaves-Inspection-contean .Nodewaves-heading {
    font-size: 3.2rem !important;
    color: #ffffff;
    margin-top: 3rem;
}

.blog_page .blog-img {
    height: 40rem;
}

.blog_page .blog-max-img {
    max-height: 40rem;
    display: inline-block;
}

.blog_page .Nodewaves-Inspection-contean .hey-foumder-text {
    font-size: 2.4rem;
    color: #c2c2c2;
    margin-top: 2rem;
}

.blog_page .Nodewaves-Inspection-contean .red-more-btn {
    background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
}

.blog_page .Nodewaves-Insp-from {
    background: #0e0e0e;
    padding: 3.2rem;
    border: 1px solid #3D3D3D;
}

.blog_page .Nodewaves-Insp-from .email-box {
    height: 5.2rem;
}

.blog_page .Nodewaves-Insp-from .email-box input {
    width: 100%;
    outline: none;
    background: #0e0e0e;
    border-radius: 12px 0px 0px 0px;
    border: 1px solid #e30f2e;
    padding: 0 2rem;
    color: var(--color-White);
    font-size: 2rem;
    font-weight: 500;
}

.blog_page .Nodewaves-Insp-from .email-box ::-webkit-input-placeholder {
    color: var(--color-White);
}

.blog_page .Nodewaves-img-sec {
    padding-right: 3.2rem;
}

.blog_page .Nodewaves-from-sec {
    padding-left: 3.2rem;
}

.blog_page .Nodewaves-Insp-from .email-box button {
    background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
    border-radius: 0px 0px 12px 0px;
    padding: 1.6rem 2rem;
    border: none;
    color: var(--color-White);
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_page .Nodewaves-Insp-from .Categories-labale {
    margin-top: 3.4rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #3d3d3d;
}

.blog_page .Nodewaves-Insp-from .Categories-labale h4 {
    font-size: 2rem !important;
    font-weight: 600;
    background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.blog_page .Nodewaves-Insp-from .Categories-labale p {
    color: #ffffff;
}

.blog_page .Recent-Posts-sec h4 {
    font-size: 2rem !important;
    font-weight: 600;
    color: white;
    margin-top: 3.2rem;
}

.blog_page .Nodewaves-card-sec {
    margin-top: 1.2rem;
}

.blog_page .Nodewaves-card-sec .pb-boder {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #3d3d3d;
    margin-top: 1.6rem;
}

.blog_page .Nodewaves-card-sec .pb-boder:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.blog_page .Nodewaves-card-sec p {
    color: #ffffff;
    font-weight: 500;
}

.blog_page .blog-margin {
    margin-top: 7.2rem;
}

/*
  =======================================================================
                          media Query
  =======================================================================
  */

@media only screen and (max-width: 991px) {
    .blog_page .Nodewaves-img-sec {
        padding-right: 0;
    }

    .blog_page .mt-welcome {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 575px) {
    .blog_page .blog-img {
        height: 24rem;
    }

    .blog_page .blog-max-img {
        max-height: 24rem;
    }

    .blog_page .blog-margin {
        margin-top: 4rem;
    }

    .blog_page .Nodewaves-Inspection-contean .Nodewaves-heading {
        font-size: 22px !important;
    }
}