.node_page .left-ellipse {
    width: 30%;
    height: 85rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    z-index: -1;
}

.node_page .right-ellipse {
    display: none;
}

.node_page .metaverse-content {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--color-LightWhite);
}

.node_page .metaverse-content .Nodewaves-text-bold {
    color: #ffffff;
    font-weight: 600;
    margin-top: 4rem;
}

.node_page .node-box {
    display: flex;
    justify-content: space-between;
    margin-top: 6.2rem;
}

.node_page .node-box .box-items {
    width: calc(33.33% - 5.2rem);
    background-color: #0e0e0e;
    padding: 1.6rem;
    border: 2px solid rgba(219, 19, 96, 1);
    color: var(--color-White);
    position: relative;
    z-index: 5;
}

.node_page .node-box .box-items>.Trapezoid-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    -webkit-clip-path: polygon(8% 0%, 93% 0, 100% 100%, 0 100%);
    clip-path: polygon(8% 0%, 93% 0, 100% 100%, 0 100%);
    height: 10px;
    width: 90%;
    background-image: var(--Primary-Gradient);
    z-index: -2;
    opacity: 0;
    transition: 0.3s;
}

.node_page .node-box .box-items>.Trapezoid-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    clip-path: polygon(0 0%, 100% 0%, 92% 100%, 8% 100%);
    height: 20px;
    width: 90%;
    background-image: var(--Primary-Gradient);
    z-index: -2;
    opacity: 0;
    transition: 0.3s;
}

.node_page .node-box .box-items:hover {
    border: 2px solid transparent;
    border-image: linear-gradient(174.47deg,
            #e30f2e 8.83%,
            rgba(0, 0, 0, 0) 50.13%,
            #db1360 95.58%) 1 stretch;
}

.node_page .node-box .box-items:hover .Trapezoid-top {
    top: -10px;
    opacity: 1;
}

.node_page .node-box .box-items:hover .Trapezoid-bottom {
    bottom: -20px;
    opacity: 1;
}

.node_page .node-box .box-items h2 {
    text-shadow: 0px 2px 16px rgba(255, 255, 255, 0.16);
    font-weight: 600;
}

.node_page .node-box .box-items h4 {
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.node_page .node-box .box-items h4 {
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.node_page .moreless-button-about {
    background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}


.node_page .moretext {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node_page .moretext.Show {
    -webkit-line-clamp: initial;
}

.node_page .Connect-To-Buy {
    display: inline-block;
    padding: 2rem 4rem;
}

@media only screen and (max-width: 991px) {
    .node_page .node-box .box-items {
        width: calc(33.33% - 1.2rem);
        padding: 0.6rem;
    }

    .node_page .node-box .box-items h4 {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 767px) {
    .node_page .node-box {
        flex-wrap: wrap;
        margin-top: 4rem;
    }

    .node_page .node-box .box-items {
        width: 100%;
        margin-bottom: 30px;
        padding: 16px;
    }

    .node_page .node-box .box-items p {
        font-size: 16px;
    }
}