/* 
------------------------------------------------------
              --- TABLE OF CONTENT ---
---------------------------------------------------------

  01.  Fonts
  02.  Global CSS  
  03.  Navigation
  04.  Index
  05.  Footer
   
  
   
   

--------------------------------------------------------
*/





/*============================================================= 
                        04 - Index
=============================================================*/

.hero-ellipse-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -5;
  height: 45rem;
  width: 45rem;
}

.hero-ellipse-2 {
  position: absolute;
  bottom: -10rem;
  left: -5rem;
  transform: translateX(-50%);
  z-index: -5;
  height: 45rem;
  width: 45rem;
}

.Herosec .metaverse-text {
  color: var(--color-White);
  font-family: "Aline", sans-serif;
}

.Explore-text {
  font-size: 2.4rem;
  color: var(--color-LightWhite);
}

.GetStarted {
  padding: 2rem 4rem;
  font-size: 2.4rem;
  margin-top: 4rem;
}

.Node-Waves-slider {
  margin-top: 6rem;
}

.body__inner-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  margin-block-start: 6rem;
}

.outline__text {
  font-family: sans-serif;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.marquee {
  width: 100%;
  pointer-events: none;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(128, 128, 128, 0.16) 28.12%,
      rgba(255, 255, 255, 0.12) 52.08%,
      rgba(128, 128, 128, 0.16) 76.04%,
      rgba(255, 255, 255, 0.2) 100%);
  overflow: hidden;
  padding: 2rem 0;
}

.marquee-grey {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(128, 128, 128, 0.16) 28.12%,
      rgba(255, 255, 255, 0.12) 52.08%,
      rgba(128, 128, 128, 0.16) 76.04%,
      rgba(255, 255, 255, 0.2) 100%);
  transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}

.marquee span {
  text-align: center;
  color: var(--color-White);
  font-weight: 400;
  white-space: nowrap;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Aline", sans-serif;
  text-transform: uppercase;
}

.marquee__img {
  height: 3.6rem;
  width: 2.2rem;
  margin: 0 2vw;
  border-radius: 100rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Node-Waves-2.svg);
}

.marquee__img-pink {
  background-image: url(../images/Node-Waves-1.svg);
}

.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 40s linear infinite;
  will-change: transform;
}

.marquee-two {
  background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
  transform: matrix(0.99, -0.11, 0);
}

.body__inner-wrapper-two {
  transform: rotate(-3deg);
  position: absolute;
  width: 99.98%;
  top: -50px;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* company-logo-slider  */
.company-logo-slider {
  margin-top: 10rem;
}



.view-text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-White);
  margin-right: 1rem;
}

.cards-item {
  margin-top: 5.6rem;
}

.cards-item .welcome-card {
  background: #0e0e0e;
  border: 1px solid #3d3d3d;
  padding: 3rem;
}

.welcome-card .card-img {
  background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
}

.nodes-sec {
  margin-left: 2.4rem;
  width: calc(100% - 10.4rem);
}

.nodes-sec p {
  font-size: 2.8rem;
  color: var(--color-White);
  font-weight: 500;
  white-space: nowrap;
}

.nodes-sec span {
  font-size: 3.6rem;
  color: var(--color-White);
  font-weight: 600;
}

.about-desc {
  color: var(--color-LightWhite);
  font-size: 2rem;
  font-weight: 500;
  width: 90%;
  margin: 1.6rem auto 0 auto;
}

.about-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  height: 45rem;
  width: 45rem;
}

.about-us-item {
  margin: 9rem auto 0 auto;
  width: 80%;
}

.about-us-item .score-iems {
  width: 50%;
  position: relative;
  text-align: center;
}

.about-us-item .score-iems:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  width: 2px;
  height: 70%;
  transform: translateY(-50%);
  background-color: var(--color-White);
}

.about-us-item .score-iems span {
  font-size: 5.6rem;
  color: var(--color-White);
  font-weight: 700;
}

.about-us-item .score-iems p {
  font-size: 2.4rem;
  background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 400;
}

.nodewaves-section {
  word-wrap: break-word;
  margin-top: 1.6rem;
}

.nodewaves-text {
  color: var(--color-LightWhite);
  font-size: 2rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreless-button {
  background: linear-gradient(92.87deg, #e30f2e 0%, #db1360 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.moretext {
  display: none;
}

.node-box {
  display: flex;
  justify-content: space-between;
  margin-top: 6.2rem;
}

.node-box .box-items {
  width: calc(33.33% - 5.2rem);
  background-color: #0e0e0e;
  padding: 1.6rem;
  border: 2px solid rgba(219, 19, 96, 1);
  color: var(--color-White);
  position: relative;
  z-index: 5;
}

.node-box .box-items>.Trapezoid-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  -webkit-clip-path: polygon(8% 0%, 93% 0, 100% 100%, 0 100%);
  clip-path: polygon(8% 0%, 93% 0, 100% 100%, 0 100%);
  height: 10px;
  width: 90%;
  background-image: var(--Primary-Gradient);
  z-index: -2;
  opacity: 0;
  transition: 0.3s;
}

.node-box .box-items>.Trapezoid-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  clip-path: polygon(0 0%, 100% 0%, 92% 100%, 8% 100%);
  height: 20px;
  width: 90%;
  background-image: var(--Primary-Gradient);
  z-index: -2;
  opacity: 0;
  transition: 0.3s;
}

.node-box .box-items:hover {
  border: 2px solid transparent;
  border-image: linear-gradient(174.47deg,
      #e30f2e 8.83%,
      rgba(0, 0, 0, 0) 50.13%,
      #db1360 95.58%) 1 stretch;
}

.node-box .box-items:hover .Trapezoid-top {
  top: -10px;
  opacity: 1;
}

.node-box .box-items:hover .Trapezoid-bottom {
  bottom: -20px;
  opacity: 1;
}

.node-box .box-items h2 {
  text-shadow: 0px 2px 16px rgba(255, 255, 255, 0.16);
  font-weight: 600;
}

.node-box .box-items h4 {
  font-weight: 600;
  margin-bottom: 0.6rem;
}


.Collection-back {
  background-color: #0e0e0e;
}

.Collection-ellipse-1 {
  position: absolute;
  top: 8%;
  right: 4%;
  /* transform: translate(-50%, -50%); */
  /* z-index: -5; */
  height: 65rem;
  width: 45rem;
}

.Collection-ellipse-2 {
  position: absolute;
  bottom: -30rem;
  left: 25rem;
  /* transform: translate(-50%, -50%); */
  /* z-index: -5; */
  height: 65rem;
  width: 60%;
}

.Collection-sec {
  padding: 4.8rem 9.6rem;
}

.Collection-sec .key-benefits-slider {
  margin-top: 4rem;
}

.Collection-sec .key-benefits-slider .key-box {

  /* width: calc(33.33% - 5rem); */
  background-color: #0e0e0e;
  border: 2px solid rgba(219, 19, 96, 1);
  color: white;
  padding: 4rem;
  text-align: center;
  display: inline-block;

}

.Collection-sec .key-benefits-slider .owl-nav {
  margin-top: 5rem;
}

.Collection-sec .key-benefits-slider .owl-nav button.owl-next {
  transform: rotate(180deg);
}

.Collection-sec .key-benefits-slider .owl-nav button.owl-next,
.Collection-sec .key-benefits-slider .owl-nav button.owl-prev {
  color: #808080;
  transition: 0.3s;
}

.Collection-sec .key-benefits-slider .owl-nav button.owl-next:hover,
.Collection-sec .key-benefits-slider .owl-nav button.owl-prev:hover {
  color: #de124d;
}

.Collection-sec .key-benefits-slider .owl-nav button.owl-next svg,
.Collection-sec .key-benefits-slider .owl-nav button.owl-prev svg {
  height: 24px;
  width: 38px;
}


.Collection-sec .key-benefits-slider .owl-dots {
  display: none !important;
}

.Collection-sec .key-benefits-slider .owl-nav [class*=owl-]:hover {
  background: none;
}

.Collection-sec .key-benefits-slider .key-box .key-benefits-items {
  width: 12rem;
  height: 12rem;
  display: inline-block;
  margin: 0 auto;
}

.Collection-sec .key-benefits-slider .key-box .key-benefits-contean h4 {
  font-size: 3.2rem;
  margin-top: 3rem;

}

.Collection-sec .key-benefits-slider .key-box .key-benefits-contean p {
  font-size: 2rem;
  margin-top: 1rem;

}

.workUl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7.2rem;
}

.workUl .work-items {
  width: calc(25% - 3rem);
}

.workUl .work-items .images {
  width: 11.2rem;
  height: 11.2rem;
  padding: 1.6rem;
  border: 1px solid;
  border-radius: 8px;
  margin: 0 auto;
}

.workUl .work-items h4 {
  font-size: 2.2rem !important;
  color: var(--color-White);
  margin: 2.4rem 0 1.2rem 0;
}

.workUl .work-items p {
  color: var(--color-LightWhite);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workUl .work-items .border-red {
  border-color: #ff3e45;
}

.workUl .work-items .border-blue {
  border-color: #18a0ed;
}

.workUl .work-items .border-yellow {
  border-color: #ffc54a;
}

.workUl .work-items .border-pink {
  border-color: #ff83ad;
}

.sale-ellipse {
  position: absolute;
  top: 20rem;
  left: -22rem;
  /* transform: translate(-50%, -50%); */
  /* z-index: -5; */
  height: 65rem;
  width: 45rem;
}

.Sale-sec .Price-label {
  color: var(--color-LightWhite);
  margin-top: 1rem;
}

.Sale-sec .sale-product-item {
  width: 49rem;
  margin: 7.2rem auto 0 auto;
}

.Sale-sec .sale-product-item .pro-description {
  position: absolute;
  bottom: 3.6rem;
  width: 100%;
  text-align: center;
}

.Sale-sec .sale-product-item .pro-description h4 {
  color: var(--color-White);
}

.Sale-sec .sale-product-item .pro-description .buy-now {
  font-size: 2.4rem;
  padding: 2rem 4rem;
  display: inline-block;
  margin-top: 1.6rem;
  text-transform: capitalize;
}

.Sale-sec .Node-sale-sec {
  display: flex;
  text-align: center;
}

.Sale-sec .sale-product-item .Founder-heading {
  position: absolute;
  top: 2rem;
  width: 100%;
  text-align: center;
  color: var(--color-White);
}

.Sale-sec .sale-product-item .Founder-heading h4 {
  font-weight: 600;
}



#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-White);
  margin-top: 7.2rem;
}

#timer li {
  text-align: center;
  margin: 0 2rem;
}

#timer li h3 {
  width: 10.6rem;
  height: 10.6rem;
  background: var(--Primary-Gradient);
  border-radius: 8px;
  font-weight: 600;
  display: grid;
  align-content: center;
  justify-content: center;
}

#timer li h5 {
  font-size: 2.2rem !important;
  text-transform: capitalize;
  margin-top: 1.6rem;
  font-weight: 400;
}

/* Chart */
.Tokenomics-chart {
  margin-top: 8rem;
}

.Tokenomics-content .col-left {
  border-right: 1px dashed rgba(227, 15, 46, 1);
}

.Tokenomics-content .InterestingFeatures {
  width: 90%;
}

.Tokenomics-content .KeyFeatures {
  width: 90%;
}

.Tokenomics-content h3 {
  font-weight: 500;
  margin-bottom: 4rem;
}

.Tokenomics-content .FeaturesUL li {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.Tokenomics-content .FeaturesUL li .dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-image: var(--Primary-Gradient);
  position: relative;
  margin-right: 28px;
}

.Tokenomics-content .FeaturesUL li p {
  width: calc(100% - 36px);
  font-size: 2.4rem;
}

.Tokenomics-content .FeaturesUL li .dots::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: var(--Primary-Gradient);
  opacity: 0.2;
}

.Questions-accordion .accordion-item {
  padding: 3.2rem 0;
  border-bottom: 1px solid #3d3d3d;
}

.Questions-accordion .accordion-item:last-child {
  border: 0 !important;
}

.Questions-accordion .accordion-item,
.Questions-accordion .accordion-item .accordion-button {
  background-color: transparent !important;
  font-size: 2.6rem;
}

.Questions-accordion .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Questions-accordion .accordion-item .accordion-button {
  color: var(--color-White);
  padding: 0.6rem 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  width: calc(100% - 4rem);
}

.Questions-accordion .accordion-item .accordion-arrow {
  width: 3rem;
  margin-left: 1rem;
  color: var(--color-LightWhite);
  transition: transform 0.2s ease-in-out;
}

.Questions-accordion .accordion-item .accordion-arrow svg {
  width: 2.4rem;
}

.Questions-accordion .accordion-item .accordion-button:not(.collapsed)+.accordion-arrow {
  transform: rotate(-180deg);
  color: #db1360;
}

.Questions-accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
}

.Questions-accordion .accordion-item .accordion-body {
  font-size: 2rem;
  color: var(--color-LightWhite);
}

.Questions-accordion .accordion-item .accordion-button::after {
  display: none;
}

.view-questions .ViewAll-Btn {
  padding: 2rem 4rem;
  font-size: 2.4rem;
  margin-top: 2rem;
  display: inline-block;
  background-image: none;
  border: 1px solid #e21036;
  position: relative;
  overflow: visible;
  background-image: none;
  background-color: #0e0e0e !important;
  border-radius: 1.2rem 0 1.2rem 0;
  color: #e21036;
  font-weight: 600;
}

.faqs-ellipse {
  position: absolute;
  top: -20%;
  right: 0%;
  z-index: -5;
  width: 50%;
}

.faqs-ellipse-left {
  position: absolute;
  top: 0%;
  left: -30%;
  transform: translateX(-50%);
  z-index: -5;
  width: 60%;
}

.Community-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background-color: #0e0e0e;
  border-radius: 1.6rem;
  border: 1px solid #e21036;
}

.Community-sec h3 {
  width: calc(100% - 22rem);
  font-family: "Aline", sans-serif;
  color: var(--color-White);
}

.Discord-Btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 3rem;
  font-size: 2.4rem;
}

.Discord-Btn .discord-img {
  margin-right: 0.8rem;
  width: 2.5rem;
}